*{
	margin: 0;
	padding:0;
	list-style: none;
}
html,body{
	color: white;
	font-size: 16px;
	overflow: hidden;
	font-family: "微软雅黑";
	background: url(../images/back01.jpg) no-repeat;
}
.startbox{
	position: absolute;
	background: #52A0E2;
	left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;
	border-radius: 10px;
	z-index: 888;
	padding-left:100px; 
	color:pink;
	padding-top: 50px;
	background: url(../images/mupai.png) no-repeat  center;
}
#start{
	width:140px;
	height: 45px;	
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	float: left;
	color: green;
	position: absolute;
	left: 600px;
	top: 300px;
	transform:rotate(7deg);
	opacity:0;
}
#aboutgame{
	width:140px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	float: left;
	position: absolute;
	left: 750px;
	top: 310px;
	transform:rotate(-2deg);
	opacity:0;
}
.gamecontent{
	width: 420px;
	height: 0;
	position: absolute;
	left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;
	border-radius: 10px;
	overflow: hidden;
	padding: 50px;
	line-height: 30px;
	opacity: 0;
}
.gamecontent span{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	right: 110px;
	top: 130px;
	color: black;
	cursor: pointer;
	z-index: 99;
}
.ongame{
	width:140px;
	float: left;
	margin:20px;
	opacity: 0;
	top: 20px;
	left: -500px;
	position: absolute;
}
.ongame div{
	width:140px;
	height: 45px;	
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	border-radius: 5px;
	position: absolute;
	left: 13px;
}
.stop1{
	top:-5px;
}
.stop2{
	top: 45px;
}
.stop3{
	top: 95px;
}
#stop{
	position: absolute;
	left: 20px;
	top: 10px;
	margin-left: -80px;
	margin-top: -130px;
}
.box{
	width:140px;
	float: right;
	position: absolute;
	top: -800px;
	right: 0;
}
#right{
	position: absolute;
	right: 0;
	top:0;
}
.box li{
	width:140px;
	height: 45px;
	line-height: 45px;
	border-radius: 5px;
	text-align: center;
	position: absolute;
	right: 55px;	
}
#score1{
	top: 95px;
}
#score2{
	top: 140px;
}
#lifetitle{
	top: 190px;
}
#steptitle{
	top: 235px;
}
.box span{
	display: inline-block;
	float: right;
	margin-right: 20px;
}

#alertbox{
	width: 500px;
	height: 300px;
	position: absolute;
	left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;
	border-radius: 10px;
	overflow: hidden;
	font-size: 25px;
	color:red;
	line-height: 200px;
	text-align: center;
	z-index: 999;
	display: none;
}
#ends{
	margin-top: -125px;
}
#alertbox span{
	width:140px;
	height: 45px;
	font-size: 18px;
	display: block;
	line-height: 45px;
	border-radius: 5px;
	opacity: 0.8;
	cursor: pointer;
	position: absolute;	
	top: 180px;
}
span.alertleft{
	left: 100px;
}
span.alertright{
	left: 265px;
}
#sucsess{
	margin-top: -125px;
}
#newalertbox{
	width: 500px;
	height: 300px;
	position: absolute;
	left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;
	border-radius: 10px;
	overflow: hidden;
	font-size: 25px;
	color:red;
	line-height: 200px;
	text-align: center;
	z-index: 999;
	display: none;
}
#newalertbox span{
	width:140px;
	height: 45px;
	font-size: 18px;
	display: block;
	line-height: 45px;
	border-radius: 5px;
	opacity: 0.8;
	cursor: pointer;
	position: absolute;	
	top: 180px;
}
span.newcontend{
	left: 100px;
}
span.alertright{
	left: 265px;
}
